body {
  background-color: rgb(128, 255, 0);
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: #ddd; */
  height: 150vh;
  display: flex;
  flex-direction: column;
  position: relative;

}

main.center {
  flex-grow: 1;
  display: flex;
  position: relative;

}


main .main {
  flex-grow: 1;
  background-color: #ddd;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  height: 40px;
  letter-spacing: 2px;
  line-height: 40px;

}